.container {
    display: grid;
    margin: 0% 13% 0% 13%;
    width: 74%;
    height: 100vh;
    min-width: 750px;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    grid-template-columns: 1fr 11fr;
    gap: 3px;
    background-color: #7f7f7f;
    padding: 5px;
}
.container div {
  background-color: white;
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
}
.container div.content {
  grid-area: content;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}
