/* NAVIGATION BAR SPECIFICS */
.navBar{
    background-color: #c0c0c0;
    position: sticky;
    top: 0;
    /* RS: background colour is for visualising effective area */
}
.navBarInner {
    display: flex;
    justify-content: space-between;
}
.navBarLeft {
    display: flex;
    list-style-type: none;
    gap: 60%;
    justify-content: left;
}
.navBarRight {
    display: flex;
    list-style-type: none;
    gap: 60%;
    justify-content: right;
}
.navSearch{

}

/* MAIN CONTENT */
.container {
    display: grid;
    margin: 0% 10% 0% 10%;
    width: 80%;
        min-width: 700px;
    height: 80vh; 
    grid-template-areas:
        /* RS: expand this part base on page requirements */
        "content"; 
    grid-auto-rows: minmax(50px, max-content);
    gap: 3px;
    background-color: #7f7f7f;
    padding: 5px;
    /* RS: background colour is for visualising effective area */
}
.container div {
    background-color: white;
}
.container div.content {
    grid-area: content;
    padding: 5px;
}

/* FOOTER */
footer {
    /* position: sticky;
    bottom: 0; 
    RS: not sure whether should keep it or not bc might be obstructive to user experience*/
    padding: 30px;
    height: max-content;
    background-color: #c0c0c0;
    text-align: center;
    /* RS: background colour is for visualising effective area */
}
.footerMenu {
    display: flex;
    list-style-type: none;
    gap: 10px;
    justify-content: center;
    padding-bottom: 20px;
}
